@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
}
h5{
    margin: 0%;
    font-size: 40px;
    padding: 5rem;
    color: white;
    background-color: #002b20;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #75573b;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

#foto{
    margin-top: 4.5rem;
    border-radius: 50%;
    width: 320px;
    padding: 1rem;
    flex-wrap: wrap;
}

.btn:hover {
    cursor: pointer;
    background: #75573b;
}

.headline {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;

}
.headline2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
    color: whitesmoke;
    font-family: cursive;
}   

#navbar {
    width: 100%;
    background: #00241b;
    color: #eee;
    height: 100px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;
}

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #002b20;

}

#showcase-container {
    text-align: center;

}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}

#clients {
    width: 100%;
    background: #eee;
    color: #111;
    padding: 50px;
}

#clients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}

.client {
    display: inline-block;
    width: 25%;
}

#art {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 30px;
}

#art-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    font-size: 12px;
}

.feature {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;
}

.feature-title {
    font-size: 1.1rem;
    font-family: arial;
}

#product {
    width: 100%;
    padding: 50px;
}

#product-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#items {
    width: 650px;
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
    line-clamp: 3rem;
}

#testimonials {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#testimonials-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonial .testimonial-image {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}

#contact{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #222;
}

#contact div{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#footer {
    background: #002b20;
    color: white;
    padding: 30px;
    text-align: center;
}

.jusbrasil{
    flex-wrap: wrap;
    text-align: center;
    background-color: #222;
    margin-top: -90px;
}
#gallery{
    width: 90%;
    margin: auto;
    padding: 50px;
    flex-wrap: wrap;
    background-color: #222;
}
#gallery-container {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: 30px;
    justify-items: center;
    background-color: #222;

}

.gallery-image {
    flex-wrap: wrap;
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: #222;
}
.whats{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}
.new{
    text-align: center;
    align-items: center ;
    width: 900px;
    height: 200px;
    flex-wrap: wrap;
    margin: 1rem;
}
.container-form{
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    
}
